<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Example Form</title>
</head>

<body>

  <div class="content">

    <form method="POST">

      <p>
        <label>Input 1 text:
          <input type="text" name="input1" />
        </label>
      </p>

      <p>
        <label>Input 2 checkbox:
          <input type="checkbox" name="input2" />
        </label>
      </p>

      <p>
        <label>Input 3 color:
          <input type="color" name="input3" />
        </label>
      </p>

      <p>
        <label>Input 4 file:
          <input type="file" name="input4" />
        </label>
      </p>

      <p>
        <label>Input 5 email:
          <input type="email" name="input15" />
        </label>
      </p>

      <p>
        <label>Input 6 hidden:
          <input type="hidden" name="input6" />
        </label>
      </p>

      <p>
        <label>Input 7 number:
          <input type="number" name="input7" />
        </label>
      </p>

      <p>
        <label>Input 8 password:
          <input type="password" name="input8" />
        </label>
      </p>

      <p>
        <label>Input 9 radio:
          <input type="radio" name="input9" />
        </label>
      </p>

      <p>
        <label>Input 10 range:
          <input type="range" name="input10" />
        </label>
      </p>

      <p>
        <label>Input 11 reset:
          <input type="reset" name="input11" />
        </label>
      </p>

      <p>
        <label>Input 12 search:
          <input type="search" name="input12" />
        </label>
      </p>

      <p>
        <label>Input 13 tel:
          <input type="tel" name="input13" />
        </label>
      </p>

      <p>
        <label>Input 14 time:
          <input type="time" name="input14" required />
        </label>
      </p>

      <input type="submit" name="submit" value="Submit" />

    </form>

  </div>

</body>

</html>
