<h1>Party!</h1>

<h2>Guest List</h2>

<strong>We're already <%= @guests.size %> people!</strong>

<ul>
  <% @guests.each do |guest| %>
    <li>
      <%= guest.name %>
      (brings <%= guest.number_of_friends %> friends and arrives at <%= guest.time_of_arrival %>)
    </li>
  <% end %>
</ul>

<!-- <img src="party-hard.gif" /> -->

<h2>Sign up for the party!</h2>

<form action="/party/guests" method="POST">
  <p>
    <label>Name:
      <input type="text" name="guest_name" placeholder="John Doe" />
    </label>
  </p>

  <p>
    <label>Number of friends:
      <input type="text" name="guest_number_of_friends" placeholder="1, 2, 3" />
    </label>
  </p>

  <p>
    <label>Time of arrival:
      <input type="text" name="guest_time_of_arrival" placeholder="20:00" />
    </label>
  </p>

  <p>
    <input type="submit" name="submit" value="Sign up!" />
  </p>
</form>
